.home {
  height: 100vh;
  width: 100%;
  background-color: $white;
  z-index: 2;
  display: flex;
  justify-content: center;
  animation: expand-in 0.6s;

  &-form {
    width: 50rem;
    opacity: 0;
    height: 50rem;
    margin-top: 30rem;
    position: relative;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba($black, 0.3));
    animation: fall-down 0.6s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;

    &-header {
      width: 100%;
      height: 10rem;
      background-color: $primary-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);

      h1 {
        color: $white;
        font-size: 3.5rem;
        text-shadow: 0.5rem 0.5rem 0.5rem rgba($black, 0.3);
      }
    }

    .option {
      height: 12rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      &-1 {
        background: #1F3CBF;
        padding: 1rem 3rem;
        border-radius: 3px;
        a {
          color: $white;
          font-size: 1.5rem;
        }
      }
      &-2 {
        background: #FE3F03;
        padding: 1rem 3rem;
        border-radius: 3px;
        a {
          color: $white;
          font-size: 1.5rem;
        }
      }
      &-3 {
        background: #5C0065;
        padding: 1rem 3rem;
        border-radius: 3px;
        a {
          color: $white;
          font-size: 1.5rem;
        }
      }
    }
  }

  a {
    color: $primary-lime;
  }
}
