@keyframes bckgrnd-slide {
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes expand-in {
  0% {
    width: 1%;
    height: 1%;
    opacity: 0;
  }
  100% {
    height: 100vh;
    width: 100%;
  }
}

@keyframes fall-down {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
