@keyframes bckgrnd-slide {
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
